{% extends "base.html" %}
{% load static %}



{% block content %}
{% for event in events %}
<div class="overlay"></div>
<div class="container">

    <div class="row justify-content-center">

        <div class="col-sm-8 mt-4 mb-4 ">
            <div class="card rounded shadow d-flex flex-column align-items-center">
                <div class="card-body pb-0">
                    <h2 class="card-title "><a class="blog-event-title"
                            href="{% url 'event_detail' slug=event.slug %}">{{ event.title.capitalize |truncatechars:50 }}</a>
                    </h2>

                    <p class="card-text mb-5">{{ event.body.capitalize |truncatechars:100 }}</p>
                    <div class="row align-items-start">
                        <div class="col-sm-4">
                            <p class="mb-0">Event Date:</p>
                        </div>
                        <div class="col justify-content-left">
                            <p>{{ event.date|date:"jS M, g:ia" }}</p>
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-sm-4">
                            <p class="mb-0">Location:</p>
                        </div>
                        <div class="col justify-content-left">
                            <p>{{ event.location }}</p>
                        </div>
                    </div>

                    <div>
                        <a class="browse-tools-button btn bg-primary-subtle text-primary-emphasis mt-0 p-3"
                            href="{% url 'event_detail' slug=event.slug %}">Read More
                        </a>
                    </div>
                    {% if request.user.is_superuser %}
                    <div>
                        <small>
                            <a href="{% url 'edit_event' event.id %}">Edit</a>
                            <span>|</span>
                            <a data-target="#cancelModal" data-toggle="modal" data-instance-id="{{ event.id }}"
                                class="text-danger delete-link" href="#cancelModal">Delete</a>
                        </small>
                    </div>
                    {% endif %}


                </div>
                <div class="image-container my-3">
                    {% if event.thumb %}
                    <a href="{{ event.thumb.url }}">
                        <img class="img-fluid rounded" src="{{ event.thumb.url }}" alt="{{ event.title }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.title }}">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr class="my-0">

</div>
{% include 'delete_modal_event.html' %}
{% endfor %}

<footer class="footer mt-auto py-4 bg-light">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Our Newsletter</h3>
                {% include 'newsletter/newsletter_form.html' %}
            </div>
            <div class="col-sm text-center">
                <img src="{{ MEDIA_URL }}share-bear-logo-small.png" alt="share bear logo">
                <p class="text-muted">Share Bear<br>Tool Sharing Company</p>
            </div>
            <div class="col-sm text-center">
                <h3>Follow the bear!</h3>
                <div class="social-icons mb-2 mt-2">
                    <a href="www.facebook.com" class="social-icon"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="www.instagram.com" class="social-icon"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="www.twitter.com" class="social-icon"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
                <div>
                    <p>Email us: mail@sharebear.co.uk</p>
                    <p>Call the shop: 08000000000</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

{% block postloadjs %}
{{ block.super }}



<script type="text/javascript">
    $(document).ready(function () {
        $('.delete-link').click(function (e) {
            e.preventDefault();

            var instanceId = $(this).data('instance-id');
            $('#instanceId').text(instanceId);
            $('#confirmDeleteBtn').attr('href', './delete/' + instanceId + '/');
        });
    });
</script>
{% endblock %}