{% extends "base.html" %}
{% load static %}



{% block content %}
{% for event in events %}
<div class="overlay"></div>
<div class="container">

    <div class="row justify-content-center ">

        <div class="col-sm-6 mt-5 mb-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title "><a class="blog-event-title"
                            href="{% url 'event_detail' slug=event.slug %}">{{ event.title.capitalize |truncatechars:50 }}</a>
                    </h2>
                    <p class="card-text mb-0">{{ event.body.capitalize |truncatechars:100 }}</p>
                    <a class="browse-tools-button btn bg-primary-subtle text-primary-emphasis mt-3 p-3"
                        href="{% url 'event_detail' slug=event.slug %}">Read More
                    </a>
                    {% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edit_event' event.id %}">Edit</a> |
                        <a data-target="#cancelModal" data-toggle="modal" data-instance-id="{{ event.id }}"
                            class="text-danger delete-link" href="#cancelModal">Delete</a>
                    </small>
                    {% endif %}

                    <p>{{ event.date}}</p>
                    <p>{{ event.location}}</p>
                </div>
                {% if event.thumb %}
                <a href="{{ event.thumb.url }}">
                    <img class="img-fluid" src="{{ event.thumb.url }}" alt="{{ event.title }}">
                </a>
                {% else %}
                <a href="">
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.title }}">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>

</div>
{% include 'delete_modal_event.html' %}
{% endfor %}



{% endblock %}

{% block postloadjs %}
{{ block.super }}



<script type="text/javascript">
    $(document).ready(function () {
        $('.delete-link').click(function (e) {
            e.preventDefault();

            var instanceId = $(this).data('instance-id');
            $('#instanceId').text(instanceId);
            $('#confirmDeleteBtn').attr('href', './delete/' + instanceId + '/');
        });
    });
</script>
{% endblock %}