{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container main-home-content">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-sm-4">
            <h1>{{ event.title.capitalize }}</h1>
            <div>
                <p>{{ event.body.capitalize }}</p>
            </div>
            <div>
                <p>{{ event.date }}</p>
            </div>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_event' event.id %}">Edit</a> |
                <a data-target="#cancelModal" data-toggle="modal" class=" text-danger delete-link"
                    href="#cancelModal">Delete</a>
            </small>
            {% endif %}

            <div>
                <p>For for information, contact {{ fname }} here <a href="mailto:{{  email }}">{{ email }}</a>.</p>
            </div>

            <form method="post" action="{% url 'add_attendee' event.id %}" class="mb-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-blog-events">I'll be there!</button>
            </form>
            <form method="post" action="{% url 'add_interested' event.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-blog-events">I'm interested</button>
            </form>
            <a href="{% url 'events' %}" class="btn btn-blog-events mt-3" role="button" aria-pressed="true">Back</a>
        </div>

        <div class="col-sm-6">
            <div class="image-container my-5">
                {% if event.thumb %}
                <a href="{{ event.thumb.url }}">
                    <img class="card-img-top img-fluid" src="{{ event.thumb.url }}" alt="{{ event.title }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.title }}">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% include 'delete_modal_event.html' %}

{% endblock %}