{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container main-home-content">
    <div class="row justify-content-center d-lg-none">
        <img src="{{ MEDIA_URL }}share-bear-logo-new.png" alt="sharebear logo">
    </div>
    <div class="row d-flex justify-content-center ">
        <div class="col-sm-6">
            <h1>Who we are</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet lectus proin nibh. Viverra nam libero justo laoreet. Placerat in egestas
                erat imperdiet sed euismod nisi. Lobortis feugiat vivamus at augue eget arcu dictum varius. Pellentesque
                id nibh tortor id aliquet lectus. Varius sit amet mattis vulputate enim nulla aliquet porttitor. Sapien
                eget mi proin sed libero. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor
                aliquam. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget.</p>
            <h2>Why its good to share</h2>
            <p>
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Egestas maecenas pharetra convallis
                posuere morbi leo urna molestie. Venenatis cras sed felis eget velit aliquet. Volutpat est velit egestas
                dui id.</p>

            <h2>Large collection of Tools</h2>
            <p>
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Egestas maecenas pharetra convallis
                posuere morbi leo urna molestie. Venenatis cras sed felis eget velit aliquet. Volutpat est velit egestas
                dui id.</p>
            <div>

                <h4>
                    <a class="browse-tools-button btn bg-primary-subtle text-primary-emphasis mt-3 p-3"
                        href="{% url 'items' %}" role="button">Browse
                        Tools!</a>
                </h4>
            </div>
        </div>
        <div class="col-sm-4">
            <h1>How it works</h1>
            <h2>First - </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet lectus proin nibh. Viverra nam libero justo laoreet. Placerat in egestas
                erat imperdiet sed euismod nisi.
            </p>
            <h2>Second - </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet lectus proin nibh. Viverra nam libero justo laoreet. Placerat in egestas
                erat imperdiet sed euismod nisi.
            </p>
            <h2>Third - </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet lectus proin nibh. Viverra nam libero justo laoreet. Placerat in egestas
                erat imperdiet sed euismod nisi.
            </p>
        </div>
    </div>

    <hr class="my-5" />

    <div class="row d-flex justify-content-left mt-5 mb-2">
        <div class="col-sm-6 offset-1">
            <h2>Latest blogs from us...</h2>
        </div>
    </div>

    <div class="row justify-content-center">

        {% for article in articles %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">

            <div class=" card h-100 ">
                {% if article.thumb %}
                <div class=" card-img-container">
                    <a href="{% url 'detail' slug=article.slug %}">
                        <img class="card-img-top img-fluid" src="{{ article.thumb.url }}" alt="{{ article.title }}">
                    </a>
                </div>
                {% else %}
                <a href="{% url 'detail' slug=article.slug %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.title }}">
                </a>
                {% endif %}
                <div class="lead font-weight-bold card-title pb-0">
                    <p class="mb-0 text-center">{{ article.title.capitalize }}</p>
                </div>
                <div class="card-body bg-white pt-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class='mb-0 text-left'>
                                {{ article.body.capitalize|truncatechars:60 }}</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        {% endfor %}
    </div>

    <hr class="my-5" />

    <div class="row d-flex justify-content-left mt-5 mb-2">
        <div class="col-12 col-md-8">
            <h2>Some upcoming events from Share Bear.. </h2>
        </div>
    </div>

    <div class=" row d-flex justify-content-center">

        {% for event in events %}
        <div class="col-sm-12 col-md-10 col-lg-6 col-xl-4 mr-4 ml-4 mb-4">

            <div class="card h-100 shadow-sm">
                {% if event.thumb %}
                <div class="card-img-container">
                    <a href="{% url 'event_detail' slug=event.slug %}">
                        <img class="card-img-top img-fluid" src="{{ event.thumb.url }}" alt="{{ event.title }}">
                    </a>
                </div>
                {% else %}
                <a href="{% url 'event_detail' slug=event.slug %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.title }}">
                </a>
                {% endif %}
                <div class="lead font-weight-bold card-title pb-0">
                    <p class="mb-0 text-center">{{ event.title.capitalize }}</p>
                </div>
                <div class="card-body bg-white pt-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class='mb-0 text-left'>
                                {{ event.body.capitalize|truncatechars:80 }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white pt-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class='mb-0 text-left'>
                                {{ event.date }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 text-left">{{ event.location }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



    <hr class="my-5" />

    <div class="row col-lg-6 mt-5 mb-2">
        <div class="col-12 col-md-8">
            <div>
                <h1>Our Shop</h1>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12 col-md-3">
            <p>Deal High St.
                <br>
                Deal
                <br>
                Kent
                <br>
                CT14 AAA
            </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <p><strong>Mon :</strong>
                <span class="text-right">08.30-17.00</span>
                <br>
                <strong>Tue :</strong>
                08.30-17.00
                <br>
                <strong>Wed :</strong>
                08.30-17.00
                <br>
                <strong>Thur:</strong>
                08.30-17.00
                <br>
                <strong>Fri :</strong>
                08.30-17.00
                <br>
                <strong>Sat :</strong>
                08.30-17.00
                <br>
                <strong>Sun :</strong>
                CLOSED
                <br>
            </p>
        </div>
        <div class="col-sm-12 col-md-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1249.3710373004144!2d1.4046099!3d51.2238269!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1683206745570!5m2!1sen!2suk"
                width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                title="google map of location of shop in Deal">
            </iframe>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-4 bg-light">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Our Newsletter</h3>


                {{ form.media }}
                <form method="POST" action="{% url 'home' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {%  crispy form %}
                </form>

            </div>
            <div class="col-sm text-center">
                <img src="{{ MEDIA_URL }}share-bear-logo-small.png" alt="share bear logo">
                <p class="text-muted">Share Bear<br>Tool Sharing Company</p>
            </div>
            <div class="col-sm text-center">
                <h3>Follow the bear!</h3>
                <div class="social-icons mb-2 mt-2">
                    <a href="www.facebook.com" class="social-icon" aria-label="facebook icon"><i
                            class="fab fa-facebook fa-2x"></i></a>
                    <a href="www.instagram.com" class="social-icon" aria-label="instagram icon"><i
                            class="fab fa-instagram fa-2x"></i></a>
                    <a href="www.twitter.com" class="social-icon" aria-label="twitter icon"><i
                            class="fab fa-twitter fa-2x"></i></a>
                </div>
                <div>
                    <p>Email us: mail@sharebear.co.uk</p>
                    <p>Call the shop: 08000000000</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}