{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container main-home-content">
    <div class="row d-flex justify-content-center ">
        <div class="col-sm-6">
            <h1>Who we are</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet lectus proin nibh. Viverra nam libero justo laoreet. Placerat in egestas
                erat imperdiet sed euismod nisi. Lobortis feugiat vivamus at augue eget arcu dictum varius. Pellentesque
                id nibh tortor id aliquet lectus. Varius sit amet mattis vulputate enim nulla aliquet porttitor. Sapien
                eget mi proin sed libero. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor
                aliquam. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget.</p>
            <h2>Why its good to share</h2>
            <p>
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Egestas maecenas pharetra convallis
                posuere morbi leo urna molestie. Venenatis cras sed felis eget velit aliquet. Volutpat est velit egestas
                dui id.</p>

            <h2>Large collection of Tools</h2>
            <p>
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Egestas maecenas pharetra convallis
                posuere morbi leo urna molestie. Venenatis cras sed felis eget velit aliquet. Volutpat est velit egestas
                dui id.</p>
            <div>

                <h4>
                    <a class="browse-tools-button btn bg-primary-subtle text-primary-emphasis mt-3 p-3"
                        href="{% url 'items' %}" role="button">Browse
                        Tools!</a>
                </h4>
            </div>
        </div>
        <div class="col-sm-4">
            <h1>How it works</h1>
            <h2>First - </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet lectus proin nibh. Viverra nam libero justo laoreet. Placerat in egestas
                erat imperdiet sed euismod nisi.
            </p>
            <h2>Second - </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet lectus proin nibh. Viverra nam libero justo laoreet. Placerat in egestas
                erat imperdiet sed euismod nisi.
            </p>
            <h2>Third - </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Id aliquet lectus proin nibh. Viverra nam libero justo laoreet. Placerat in egestas
                erat imperdiet sed euismod nisi.
            </p>
        </div>
    </div>
    <hr class="my-5" />

    <div class="row d-flex justify-content-center mt-5">


        <div class="col-md-6 ">

            <div class='shop-background bg-image'>
            </div>
        </div>

        <div class="col-md-2">

            <h1>Opening hours</h1>

            <p><strong>Mon :</strong>
                <span class="text-right">08.30-17.00</span>
                <br>
                <strong>Tue :</strong>
                08.30-17.00
                <br>
                <strong>Wed :</strong>
                08.30-17.00
                <br>
                <strong>Thur:</strong>
                08.30-17.00
                <br>
                <strong>Fri :</strong>
                08.30-17.00
                <br>
                <strong>Sat :</strong>
                08.30-17.00
                <br>
                <strong>Sun :</strong>
                CLOSED
                <br>

                <iframe class="mt-5"
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1249.3710373004144!2d1.4046099!3d51.2238269!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1683206745570!5m2!1sen!2suk"
                    width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </p>


        </div>

        <div class="col-sm-2">

            <h1>Our Shop Address</h1>

            <p>Deal High Street
                <br>
                Deal
                <br>
                Kent
                <br>
                CT14 AAA

            </p>


            <div>

            </div>
        </div>
    </div>

    <hr class="my-5" />

    <div class="row d-flex justify-content-center ">
        {% for article in articles %}
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card h-100 border-0">
                {% if article.thumb %}
                <a href="{% url 'detail' slug=article.slug %}">
                    <img class="card-img-top img-fluid" src="{{ article.thumb.url }}" alt="{{ article.title }}">
                </a>
                {% else %}
                <a href="{% url 'detail' slug=article.slug %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.title }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <p class="mb-0">{{ article.title }}</p>
                    <p class="mb-0">{{ article.body|truncatechars:30 }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>


</div>
{% endblock %}