{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Address Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.item.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>£{{ order.order_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 mb-5">
            <p class="text-muted">Your Events</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <td>
                                <a href="{% url 'event_detail' event.slug %}" title="#">
                                    {{ event.title.capitalize}}
                                </a>
                            </td>
                            <td>{{ event.date|date:"d,F,Y" }}</td>
                            <td>{{ event.date|time:"H:i" }}</td>
                            <td>
                                {{ event.location}}
                            </td>
                            <td>
                                <form method="post" action="{% url 'cancel_attendance' event.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-blog-events">Cancel</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-4 bg-light">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Our Newsletter</h3>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstname" name="firstname"
                            placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="terms" name="terms">
                            <label class="form-check-label" for="terms">I agree to the data terms</label>
                        </div>
                        <button type="submit"
                            class="btn bg-primary-subtle text-primary-emphasis ml-3 sign-up-button">Sign
                            Up</button>
                    </div>
                </form>
            </div>
            <div class="col-sm text-center">
                <img src="{{ MEDIA_URL }}share-bear-logo-small.png" alt="share bear logo">
                <p class="text-muted">Share Bear<br>Tool Sharing Company</p>
            </div>
            <div class="col-sm text-center">
                <h3>Follow the bear!</h3>
                <div class="social-icons mb-2 mt-2">
                    <a href="www.facebook.com" class="social-icon"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="www.instagram.com" class="social-icon"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="www.twitter.com" class="social-icon"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
                <div>
                    <p>Email us: mail@sharebear.co.uk</p>
                    <p>Call the shop: 08000000000</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}