<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="dropdown-divider d-sm-block d-lg-none">
        </li>
        <li>
            <a class="dropdown-item nav-item d-sm-block logo-font font-weight-bold nav-link text-black mr-5 d-lg-none"
                href="{% url 'home' %}">
                Home
            </a>
        </li>
        <li class="dropdown-divider d-sm-block d-lg-none"></li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-tools-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-tools-link">
                <a href="{% url 'items' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'items' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'items' %}" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hand-tools-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hand Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hand-tools-link">
                <a href="{% url 'items' %}?category=plumbing_tools" class="dropdown-item">Plumbing Tools</a>
                <a href="{% url 'items' %}?category=carpentry_tools" class="dropdown-item">Carpentry Tools</a>
                <a href="{% url 'items' %}?category=electrician_tools" class="dropdown-item">Electrician Tools</a>
                <a href="{% url 'items' %}?category=spanners_handtools" class="dropdown-item">Spanners & Wrenches
                    Tools</a>
                <a href="{% url 'items' %}?category=building_handtools" class="dropdown-item">Building Tools</a>
                <a href="{% url 'items' %}?category=plumbing_tools,carpentry_tools,electrician_tools,spanners_handtools,building_handtools"
                    class="dropdown-item">All Hand Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="power-tools-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Power Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="power-tools-link">
                <a href="{% url 'items' %}?category=saws_ptools" class="dropdown-item">Saws</a>
                <a href="{% url 'items' %}?category=drills_ptools" class="dropdown-item">Drills</a>
                <a href="{% url 'items' %}?category=sanders_ptools" class="dropdown-item">Sanders</a>
                <a href="{% url 'items' %}?category=other_ptools" class="dropdown-item">Other</a>
                <a href="{% url 'items' %}?category=saws_ptools,drills_ptools,sanders_ptools,other_ptools"
                    class="dropdown-item">All Power Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="garden-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Garden
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="garden-link">
                <a href="{% url 'items' %}?category=garden_electrial" class="dropdown-item">Electrial</a>
                <a href="{% url 'items' %}?category=handtools_garden" class="dropdown-item">Hand Tools</a>
                <a href="{% url 'items' %}?category=handtools_garden,garden_electrial" class="dropdown-item">All Garden
                    Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="other-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-link">
                <a href="{% url 'items' %}?category=ladders_other" class="dropdown-item">Ladders</a>
                <a href="{% url 'items' %}?category=accessories_other" class="dropdown-item">Accessories</a>
                <a href="{% url 'items' %}?category=workwear-other" class="dropdown-item">Safety Workwear</a>
                <a href="{% url 'items' %}?category=miscellaneous_other" class="dropdown-item">Miscellaneous</a>
                <a href="{% url 'items' %}?category=ladders_other,miscellaneous_other,workwear-other,accessories_other"
                    class="dropdown-item">All</a>
            </div>
        </li>
        <li class="dropdown-divider d-sm-block d-lg-none"></li>
        <li>
            <a class="dropdown-item nav-item d-sm-block logo-font font-weight-bold nav-link text-black mr-5 d-lg-none"
                href="{% url 'blog' %}">
                Blog
            </a>
        </li>
        <li>
            <a class="dropdown-item nav-item d-sm-block logo-font font-weight-bold nav-link text-black mr-5 d-lg-none"
                href="{% url 'events' %}">
                Events
            </a>
        </li>
    </ul>
</div>