<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-tools-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-tools-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'items' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hand-tools-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hand Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hand-tools-link">
                <a href="" class="dropdown-item">Plumbing Tools</a>
                <a href="" class="dropdown-item">Carpentry Tools</a>
                <a href="" class="dropdown-item">Electrician Tools</a>
                <a href="" class="dropdown-item">Mechanic Tools</a>
                <a href="" class="dropdown-item">All Hand Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="power-tools-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Power Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Saws</a>
                <a href="" class="dropdown-item">Drills</a>
                <a href="" class="dropdown-item">Sanders</a>
                <a href="" class="dropdown-item">Other</a>
                <a href="" class="dropdown-item">All Power Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="garden-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Garden
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="garden-link">
                <a href="" class="dropdown-item">Electrial</a>
                <a href="" class="dropdown-item">Hand Tools</a>
                <a href="" class="dropdown-item">All Garden Tools</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="other-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="other-link">
                <a href="" class="dropdown-item">Ladders</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">Safety Workwear</a>
                <a href="" class="dropdown-item">All</a>
            </div>
        </li>
    </ul>
</div>