{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container main-home-content">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-sm-4">
            <h1>{{ article.title}}</h1>
            <div>
                <p>{{ article.body }}</p>
            </div>
            <div>
                <p>{{ article.date }}</p>
            </div>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_article' article.id %}">Edit</a> |
                <a data-target="#myModal" data-toggle="modal" class="text-danger" href="#myModal">Delete</a>
            </small>
            <div>
                <p>Blog written by : {{ article.author }}</p>
            </div>
            {% endif %}
            <a href="{% url 'blog' %}" class="btn btn-blog " role="button" aria-pressed="true">Back</a>
        </div>

        <!-- modal triggering delete confirmation -->

        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="deleteArticleModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Article deletion....</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Just checking, are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-danger" href="{% url 'delete_article' article.id %}">Delete</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="image-container my-5">
                {% if article.thumb %}
                <a href="{{ article.thumb.url }}">
                    <img class="card-img-top img-fluid" src="{{ article.thumb.url }}" alt="{{ article.title }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.title }}">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>




{% endblock %}