{% extends "base.html" %}
{% load static %}



{% block content %}
{% for article in articles %}
<div class="container">

    <div class="row justify-content-center ">

        <div class="col-sm-6 mt-5 mb-5">
            <div class=" blog-header">
                <h2><a href="{% url 'detail' slug=article.slug %}">{{ article.title|truncatechars:20 }}</a></h2>
            </div>
            <div class=" pb-0">
                <p class="mb-0">{{ article.body|truncatechars:100 }}</p>
            </div>
            <div class="">
                <a class="browse-tools-button btn bg-primary-subtle text-primary-emphasis mt-3 p-3"
                    href="{% url 'detail' slug=article.slug %}">Read More</a>
            </div>
            {% if request.user.is_superuser %}
            <small>
                <a href="#">Edit</a> |
                <a class="text-danger" href="">Delete</a>
            </small>
            {% endif %}
            <div class="border-0 text-left">
                {{ article.date}}
            </div>
        </div>

        <div class="col-sm-4">
            <div class="image-container my-5">
                {% if article.thumb %}
                <a href="{{ article.thumb.url }}">
                    <img class="img-fluid" src="{{ article.thumb.url }}" alt="{{ article.title }}">
                </a>
                {% else %}
                <a href="">
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.title }}">
                </a>
                {% endif %}
            </div>
        </div>

    </div>
    <hr>

</div>

{% endfor %}



{% endblock %}