{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container main-home-content">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-sm-4">
            <h1>{{ article.title}}</h1>
            <div>
                <p>{{ article.body }}</p>
            </div>
            <div>
                <p>{{ article.date }}</p>
            </div>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_article' article.id %}">Edit</a> |
                <a data-target="#deleteArticleModal" data-toggle="modal" data-instance-id="{{ article.id }}"
                    class="text-danger delete-link" href="#deleteArticleModal">Delete</a>
            </small>
            <div>
                <p>Blog written by : {{ article.author }}</p>
            </div>
            {% endif %}
            <a href="{% url 'blog' %}" class="btn btn-blog-events  " role="button" aria-pressed="true">Back</a>
        </div>


        <div class="col-sm-6">
            <div class="image-container my-5">
                {% if article.thumb %}
                <a href="{{ article.thumb.url }}">
                    <img class="card-img-top img-fluid" src="{{ article.thumb.url }}" alt="{{ article.title }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.title }}">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Modal confirmation cancellation -->
{% include 'delete_modal_blog.html' %}
{% endblock %}