{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mt-1 justify-content-center">
        <div class="col-12 col-md-9 col-lg-6">
            <div class="image-container my-5">
                {% if article.thumb %}
                <a href="{{ article.thumb.url }}">
                    <img class="card-img-top img-small " src="{{ article.thumb.url }}" alt="{{ article.title }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid img-small" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ article.title }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-9 col-lg-6">
            <div class="blog-event-title">
                <h1>{{ article.title.capitalize}}</h1>
            </div>
            <div>
                <p>{{ article.body.upper|linebreaks }}</p>
            </div>
            <div>
                <p>{{ article.date | date:"dS F,Y" }}</p>
            </div>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_article' article.id %}">Edit</a> |
                <a data-target="#deleteArticleModal{{ article.id }}" data-toggle="modal"
                    data-instance-id="{{ article.id }}" class="text-danger delete-link"
                    href="#deleteArticleModal">Delete</a>
            </small>
            <div>
                <p>Blog written by: {{ article.author }}</p>
            </div>
            {% endif %}
            <a href="{% url 'blog' %}" class="btn btn-blog-events" role="button" aria-pressed="true">Back</a>

        </div>
    </div>
</div>

<!-- Modal confirmation cancellation -->
{% include 'delete_modal_blog.html' %}



{% endblock %}